@page
@model LMS.Pages.Student.temp.CheckoutModel
<form method="post">
    <input type="number" name="Amount" value="10000" />
    <input type="text" name="Description" value="Thanh toan don hang ABC" />
    <button type="submit">Pay with VNPAY</button>
</form>
